15_1_WSSOAP_CRUD/src/main/webapp/wsdl/PersonaServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.service.cesar20991.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.service.cesar20991.com" xmlns:intf="http://impl.service.cesar20991.com" xmlns:tns1="http://model.cesar20991.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.service.cesar20991.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.cesar20991.com"/>
   <element name="registrar">
    <complexType>
     <sequence>
      <element name="per" type="tns1:Persona"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.cesar20991.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Persona">
    <sequence>
     <element name="apellidos" nillable="true" type="xsd:string"/>
     <element name="direccion" nillable="true" type="xsd:string"/>
     <element name="fechaNac" nillable="true" type="xsd:dateTime"/>
     <element name="foto" nillable="true" type="xsd:base64Binary"/>
     <element name="idPersona" type="xsd:int"/>
     <element name="nombres" nillable="true" type="xsd:string"/>
     <element name="sexo" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="registrarResponse">

      <wsdl:part element="impl:registrarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarRequest">

      <wsdl:part element="impl:registrar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PersonaServiceImpl">

      <wsdl:operation name="registrar">

         <wsdl:input message="impl:registrarRequest" name="registrarRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrarResponse" name="registrarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PersonaServiceImplSoapBinding" type="impl:PersonaServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="registrar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registrarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registrarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PersonaServiceImplService">

      <wsdl:port binding="impl:PersonaServiceImplSoapBinding" name="PersonaServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/15_1_WSSOAP_CRUD/services/PersonaServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
